program/.vs/RebootCard/v16/Browse.VC.db
program/.vs/RebootCard/v16/Browse.VC.db-wal
program/.vs/RebootCard/v16/Browse.VC.opendb
program/.vs/RebootCard/v16/ipch/AutoPCH/19a43bb9e43bde74/REBOOTCARD.ipch
program/.vs/RebootCard/v16/Solution.VC.db
program/.vs/RebootCard/v16/Solution.VC.db-shm
program/.vs/RebootCard/v16/Solution.VC.db-wal
